<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesCalendar.css">
    <title>User page</title>
</head>
<body>
    <%- include('partials/userbar') %>
    <p>Page for <%=user.username%></p>
    <div class="month">
        <ul>
          February
        </ul>
      </div>
      
      <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
      </ul>
      
      <ul class="days">
        <li>‎</li>
        <li>‎</li>
        <li>‎</li>
        <%
let entriesByDay = {};
// Organize entries by day of the month, storing colors for each day
entries.forEach(entry => {
    let day = entry.date.getDate();
    if (!entriesByDay[day]) {
        entriesByDay[day] = []; // Initialize the array if it doesn't exist
    }
    // Add the color of the current entry to the day's array
    for(let emotion of entry.emotions){
    entriesByDay[day].push(emotion);
    }
});

for (let i = 1; i <= 29; i++) {
    if(entriesByDay[i]) {
        %><li><%for(let emotion of entriesByDay[i]){%><span style="background-color: <%=emotion.color%>;"><%=emotion.name%></span> <%}%></li><%
    } else {
        // If there's no entry for this day
        %><li><%=i%> </li><%
    }
}
%>
      </ul>
</body>
</html>